header{
    .logo{
        font-family: 'Oswald', sans-serif;
        font-size: 50px;
        width: 100%;
        background-image: linear-gradient(to right, rgb(152, 206, 84), rgb(217, 255, 172));
        box-shadow: 0 0 7px #000;
    }
    .navbar-collapse{
        display: flex;
        flex-direction: row;
    }

    nav a{
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        text-decoration: none;
        background-color: rgb(152, 206, 84);
        border: 4px rgb(152, 206, 84) solid;
        box-shadow: 0 0 7px #000;
        &:hover{
            color: #000;
        }
    }


}